<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update post</title>
</head>
<body>
  <h1>Update Post data</h1>
  <form action="/update/{{ post.id }}" method="post">
    <input type="text" value="{{ post.title }}" name="title" placeholder="Title"><br>
    <input type="text" value="{{ post.text }}" name="text" placeholder="Text"><br>
    <input type="submit" value="Update">
    
  </form>
  
</body>
</html>